footer
	.footer.wow.fadeInUp
		.footer__content
			.footer__main
				.container
					.row
						.footer__left.col-sm-4
							.footer__logo
								a(href="./")
									img(src=require('../../components/images/logo-img.svg'), alt="logo")
									img(src=require('../../components/images/logo-text.svg'), alt="logo")
							p
								| Разнообразный и богатый опыт начало повседне работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития..
							ul.footer__socials
								li
									a(href="#")
										i
										span Facebook
								li
									a(href="#")
										i
										span Instagram
								li
									a(href="#")
										i
										span Vkontakte
						.footer__right.col-sm-8
							.row
								ul.col-sm-4.col-lg-3
									li
										h6 Lora Iris
									li
										a(href="about.html") О компании
									li
										a(href="guarantees.html") Гарантии
									li
										a(href="contacts.html") Контакты
								ul.col-sm-4.col-lg-3
									li
										h6 График работы
									li
										a(href="#") Пн-Сб: 9.00 - 21.00
									li
										a(href="#") Вс: 10.00 - 18.00
								ul.col-sm-4.col-lg-3
									li
										h6 Представительство в России
									li
										a(href="mailto:lorairiscomercial@gmail.com") lorairiscomercial@gmail.com
									li
										a(href="tel:+79204050602") +79204050602
									li
										a(href="tel:+79304085032") +79304085032
								ul.col-sm-4.col-lg-3
									li
										h6 Наши контакты
									li
										a(href="tel:+380000000000") + 380 00 00 00 000
									li
										a(href="tel:+380976309783") + 380 97 63 09 783
			.container
				.footer__bottom
					.footer__bottom-left
						.footer__copyright
							p Copyright
								span#year
								| © LORAIRIS / All rights reserved
					.footer__bottom-right
						.footer__develop
							a(href="http://unitspace.top", target="_blank")
								p Разработка и создание сайтов Киев, Харьков
						.footer__cards
							ul
								li
									a(href="#")
										img(src=require("../../components/images/cards-1.png"), alt="")
								li
									a(href="#")
										img(src=require("../../components/images/cards-2.png"), alt="")
								li
									a(href="#")
										img(src=require("../../components/images/cards-3.png"), alt="")